#case-cards-section{
  background-color: white;
}

.index-icons{
  img{
    width: 80px;
    margin-bottom: 10px;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: white;
    }
}
