@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.global-text{
  column-count: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.projects-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #132C3A;
}

.doctor-name{
  color: #132C3A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}

.doctor-specialization{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.doctor-email{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
}
