@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.global-text{
  column-count: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.projects-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #132C3A;
}

.light-blue-rectangle{
  height: 35px;
  background-color: #38E1ED;
}

#symptoms-section{
  display: flex;
  align-items: center;
  height: 500px;
  background-color: #3734AA;
    h2{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      font-weight: 400;
    }
    h3{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 700;
    }
    p{
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 100;
    }
}
