<div class="footer-bar flex-column">

  <div class="d-flex justify-content-between">
    <div id="footer-logo" class="d-flex w-50 justify-content-center align-items-start">
      <%= image_tag "bloom-logo.png" %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>

    <div class="d-flex w-50 justify-content-around">
      <div>
        <p class="text-blue">Services</p>
        <p>Email Marketing</p>
        <p>Campaigns</p>
      </div>
      <div>
        <p class="text-blue">About</p>
        <p>Our Story</p>
        <p>Benefits</p>
      </div>
      <div>
        <p class="text-blue">Follow Us</p>
        <div class="d-flex justify-content-between">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom text-center mt-5">
    <p>Copyright © 2020. Logolpsum. All rights reserved.</p>
  </div>

</div>
