<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                           url('https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
  <div>
    <div class="banner-title ml-0 text-center">
      <h1>Dedication is our specialty</h1>
    </div>

    <div class="">
      <%= form_tag projects_path, method: :get, class: "d-flex justify-content-center" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-bar-lg w-100 mr-3",
            placeholder: "Search a project"
          %>
          <%= button_tag :submit, class: "btn btn-r-blue" do %>
            <i class="fas fa-search"></i>
          <% end %>
      <% end %>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
</div>
