<div class="container my-5">
  <h1>Projects</h1>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.name, project_path(project) %>
        <br><%= project.description %>
      </li>
    <% end %>
  </ul>
</div>
