<div class="container">
  <h1>Projects</h1>
  <ul class="cards-container">
    <% @projects.each do |project| %>
      <li class="card-case">
        <%= link_to project.name, project_path(project) %>
        <div class="card-main-infos">
          <br><%= project.description %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
