<div class="container">
  <div class="my-5 d-flex justify-content-center">
    <div class="form col">
      <div class="d-flex align-items-end">
        <div><img src="https://res.cloudinary.com/dpt0tj9je/image/upload/v1615306185/project-icon_dclyb9.png" alt="" style="width: 54px"></div>
        <div class="ml-3">
          <h1 class="mb-0">Create a new project</h1>
        </div>
      </div>

      <div>
        <%= simple_form_for(@project) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.button :submit, class: "btn-s-blue" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
