.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 15px;
}

// homepage(title)
.banner-title {
  color: white;
  font-family: akkurat, montserrat;
  h1 {
    font-size: 70px;
    margin-bottom: 60px;
  }
}
//
// homepage(searchbar)
.search-bar-lg {
  border-radius: 30px;
  padding: 28px 24px;
  opacity: 85%;
}
//
