.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 150px 15px;
}

.banner-title {
  color: white;
  font-family: akkurat, montserrat;
}

.search-bar-lg {
  border-radius: 30px;
  padding: 28px 24px;
  opacity: 85%;
}
