// homepage(searchbar)
.btn-primary {
  border-radius: 36px;
  background: $m-blue;
  opacity: 1;
  padding: 20px 28px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  &:hover {
    background: $m-blue;
    opacity: 80%;
    border: 1px solid $m-bluelight;
  }
}
