// homepage(searchbar)
.btn-in-searchbar {
  border-radius: 36px 0 0 36px;
  box-shadow: 0 8px 4px -4px rgba(0,0,0,0.2);
  background: white;
  opacity: 85%;
  padding: 8px 40px;
  color: $m-blue;
  font-size: 36px;
  &:hover {
    box-shadow: 0px 0px 10px rgba(56,225,237,0.7);
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
}
//

.btn-s-blue {
  border-radius: 20px;
  border: 1px solid $m-blue;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background: $m-blue;
  opacity: 1;
  padding: 6px 12px;
  color: white;
  text-decoration: none;
  &:hover {
    box-shadow: 0px 0px 10px rgba(56,225,237,0.7);
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-decoration: none;
  }
}

.purple-button{
  color: #3734AA;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  &:hover{
    // font-weight: 700;
    color: #3734AA;
    border-bottom: 3px solid #3734AA;
  }
}

.modal-button{
  background-color: transparent;
  border: none;
}
