@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

ul{
  list-style-type: none;
}

.cards-container{
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-case{
  height: 200px;
  width: 385px;
  border-radius: 16px;
  position: relative;
  border-left: 25px solid #3734AA;
  background-color: white;
  text-decoration: none;
  position: relative;
    &:hover{
      background-color: #3734AA;
      border-left: 25px solid #01E1F0;
        p{
          color: white;
        }
        h2{
          color: white;
          text-decoration: none;
        }
        span{
          color: white;
        }
        .rounded-gender{
          background-color: #01E1F0
        }
        a{
          color: white;
        }

    }
}

.card-main-infos{
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  top: 50px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-height: 5.6em;
    h2{
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 700;
      // overflow-y: hidden;
      // text-overflow: ellipsis;
      // max-height: 3em;
    }
    p{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 400;
      // overflow-y: hidden;
      // text-overflow: ellipsis;
      // max-height: 2.6em;
      color: #374A59;
    }
}

.card-doctor-email{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
    span{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #6E798C;
    }
    p{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 100;
      color: #6E798C;
    }
}
.rounded-gender{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #3734AA;
  color: white;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 0px;
}

.card-bottom-infos{
  display: flex;
  justify-content: space-between;
    width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  bottom: 15px;
    a{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #3734AA;
    }
}

.card-gender-age{
  display: flex;
}

.card-age{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.card-year{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6E798C;
}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
