@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

ul{
  list-style-type: none;
}

#project-container{
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-project{
  height: 200px;
  min-width: 300px;
  max-height: 385px;
  border-radius: 16px;
  position: relative;
  border-left: 25px solid #E8F2FF;
  background-color: white;
    &:hover{
      background-color: #3734AA;
      border-left: 25px solid #01E1F0;
        p{
          color: white;
        }
        h2{
          color: white;
        }
        span{
          color: white;
        }
        .rounded-gender{
          background-color: #01E1F0
        }
        a{
          color: white;
        }
    }
}

.card-project-top-infos{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
}

.card-project-bottom-infos{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  bottom: 15px;
    a{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #3734AA;
    }
    span{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #3734AA;
    }
}

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  #project-container {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #project-container {
    grid-template-columns: 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #project-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
