.footer-bar {
  position: absolute;
  top: auto;
  bottom: -265px;
  overflow: hidden;
  padding: 30px 80px;
  width: 100%;
  background: $m-blue;
  p {
    color: white;
  }
  i {
    color: white;
  }
}

#footer-logo {
  p {
    width: 270px;
    margin-left: 15px;
  }
}

.text-blue {
  color: $m-bluelight;
}

footer .footer-bottom {
  opacity: 50%;
  p {
    margin-bottom: 0;
  }
}
