// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "footer";
@import "button";
@import "card-case";
@import "card-project";
@import "accordion";
@import "utilities";
@import "doctor-infos";
@import "search-bar";
@import "comment";
@import "projects-list";



html, body {
  padding: 0;
  margin: 0;
  // height: 100%;
  // overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#main-body-content {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 80vh;
  max-height: fit-content;
}

.container, .banner {
  // position: relative;
  // width: 100%;
  // top: 55px;
  // bottom: 250px;
  // overflow: auto;
  // padding-bottom: 250px;
}

