// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "footer";
@import "button";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  padding-bottom: 300px;
}
