.project-list{
  column-count: 2;
}

.project-list-items{
  display: flex;
  justify-content: space-between;
    a{
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #8093AC;
      &:hover{
        color: black;
      }
    }
}

.project-list-collaborators{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.case-list{
  column-count: 4;
}
